
@{
    ViewBag.Title = "AddAll";
}

<h2>Add</h2>

<form method="post">
    <div class="form-group">
        <input type="hidden" value="Course" name="add" />
        <input type="submit" value="Course" class="btn btn-default" />
    </div>
</form>

<form method="post">
    <div class="form-group">
        <input type="hidden" value="Assignment" name="add" />
        <input type="submit" value="Assignment" class="btn btn-default" />
    </div>
</form>

<form method="post">
    <div class="form-group">
        <input type="hidden" value="Teacher" name="add" />
        <input type="submit" value="Teacher" class="btn btn-default" />
    </div>
</form>

<form method="post">
    <div class="form-group">
        <input type="hidden" value="Student" name="add" />
        <input type="submit" value="Student" class="btn btn-default" />
    </div>
</form>